fastapi
uvicorn

#dbs
sqlalchemy
#psycopg2
psycopg2-binary

#env vars
python-dotenv

#email validation
pydantic[email]

#hashing
passlib[bcrypt]

#tests
pytest
requests
pytest-cov==2.11.1

#jwt tokens
python-jose

#for form data
python-multipart